---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Features as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-4xl mx-auto`} bg={bg}>
  {
    (title || subtitle || tagline) && (
      <div class={'mb-4 md:mx-auto md:mb-2 text-center max-w-3xl'}>
        {tagline && (
          <p class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase" set:html={tagline} />
        )}
        {title && (
          <h2
            class={'font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-4xl'}
            set:html={title}
          />
        )}
  
        {subtitle && <p class={'mt-4 text-muted text-xl'} set:html={subtitle} />}
      </div>
    )
  }
</WidgetWrapper>
