---
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

import { contentfulClient } from '~/lib/contentful';
import type { EntryFieldTypes } from 'contentful';

// Define the structure of the content type based on your provided fields
interface ProfileKampungSorgumType {
  contentTypeId: string;
  fields: {
    entrytitle: EntryFieldTypes.Text;
    judulProfil: EntryFieldTypes.Text;
    caption: EntryFieldTypes.Text;
    tentangkami?: EntryFieldTypes.Text;
    captiontentangkami?: EntryFieldTypes.Text;
    fototimkwt?: EntryFieldTypes.AssetLink; // Asset for images
    judultimkwt?: EntryFieldTypes.Text;
    captiontimkwt?: EntryFieldTypes.Text;
    judulsejarahkami?: EntryFieldTypes.Text;
    captionsejarahkami?: EntryFieldTypes.Text;
  };
}

const entries = await contentfulClient.getEntries<ProfileKampungSorgumType>({
  content_type: 'profileKampungSorgumType',
  'fields.entrytitle': 'profile',
  limit: 1,
});

// Map the data to be used in the template
const profileEntry = entries.items[0]?.fields;

const judulProfil = profileEntry?.judulProfil;
const caption = profileEntry?.caption;
const tentangkami = profileEntry?.tentangkami;
const captiontentangkami = profileEntry?.captiontentangkami;
const judultimkwt = profileEntry?.judultimkwt;
const captiontimkwt = profileEntry?.captiontimkwt;
const judulsejarahkami = profileEntry?.judulsejarahkami;
const captionsejarahkami = profileEntry?.captionsejarahkami;

const imageURL = profileEntry?.fototimkwt && 'fields' in profileEntry.fototimkwt && profileEntry.fototimkwt.fields.file ? profileEntry.fototimkwt.fields.file.url : null;

const metadata = {
  title: 'About Us',
};
---
<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    contentID='profileHeroType',
  >
    <Fragment slot="title">
      {judulProfil}
    </Fragment>

    <Fragment slot="subtitle">
      {caption}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>

    <!-- <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 4.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages &
      Blogs.
    </Fragment> -->
  </Hero>

  
  <!-- Features2 Widget ************** -->

  <Features2
    id="tentang"
    title={tentangkami}
    subtitle={captiontentangkami}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features2 Widget ************** -->

  <Features2
    id="sejarah"
    title={judulsejarahkami}
    subtitle={captionsejarahkami}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Content Widget **************** -->

  <Content
    id="tim"
    columns={1}
    items={[
      {
        icon: 'tabler:globe-filled',
        callToAction: {
          target: '_blank',
          text: 'Kunjungi Website Tim KWT',
          href: 'https://kampungsorgum.web.app',
        },
      },
    ]}
    image={{
      src: imageURL,
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{judultimkwt}</h2>
      <p>{captiontimkwt}</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
